.app{
    display: flex;
    justify-content: center;
    .container{
      width:1024px;
      .link{
        text-decoration: none;
        color: inherit;
      }
  

.auth{
    display:flex;
    align-items :center;
    flex-direction:column;
    justify-content:center;
    height: 100vh;
    background-color:lightblue ;
}
h1 {
    font-size: 20px;
    color: black;
    margin: bottom 20px;

}
form{
 display: flex;
 flex-direction:column;
 padding:10px;
 background-color:white;
 width:200px;
 gap:20px;
}
input{
 padding:10px;
border: none;
border-bottom:1px solid black;
}
button{
padding:10px;
color:black;
background-color:white;
font-weight: bold;
cursor:pointer;
}
span {
 font-size: 12px;
 text-align: center;
}
P{
    font-size: 12px;
    text-align: center;
    color:black;
}
.navbar {
    .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            img{
                width:120px;
            }
        }
        .links{
         display: flex;
         align-items: center;
         gap:10px ;

         h6{
            font-size: 16px;
            font-weight:300;
         }

         span{
            cursor:pointer;
         }
         .write{
            background-color: rgb(160, 220, 220);
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display:flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid teal;
            
            &:hover{
                color: teal;
            background-color: white;
            border: 1px solid teal;



            }


         }

        }

    }
}

footer{
    margin-top: 100px;
    background-color:rgb(160, 220, 220);
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;



    img{
      height: 50px;
    
    }
}

.home {

    .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

    .post {
         display: flex; 
         gap: 100px;


         &:nth-child(2n+1) {
          flex-direction: row-reverse;
         }

         .img{
            flex: 2;

            img{
           max-height: 400px;
            width: 100%;
            object-fit: cover;
            }
         }
         .content{
            flex:3;
         }
    }
}
}

.single {
   display:flex;
   gap:50px;

   .content{
     flex:5;
   }
   .menu{
      flex: 2;
   }

}
    }


}